.header {
  height: 80px;
}

.navigation {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 30px;
  justify-content: center;
  padding: 10px;

  a.active {
    color: dodgerblue;
  }

  a:hover,  {
    color: dodgerblue;
    text-decoration: underline;
  }
}
